<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Acerca de mi</h1>

    <p style="text-align-last: center;">Hola este proyecto realizado por Elton Sandoval Perez, estudiante de python en CoderHouse.
        El proyecto se hizo pensando en una pagina de viajes y manejo de tours.
    la pagina cuenta con un blog y una seccions de creacion de tours, tiene su respectivo ingreso,registro
y logout; Ademas cuenta con imagenes y nuestro about.
Espero que la disfrutes.</p>

</body>
</html>